body {
  margin: 0;
  font-family: var(--font-mono);
  background-color: var(--navy);
  color: var(--light-slate);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --dark-navy: rgb(36, 4, 77);
  --navy: rgb(10, 25, 47);
  --light-navy: rgb(17, 34, 64);
  --lightest-navy: rgb(35, 53, 84);
  --transparent-navy: rgba(10, 25, 47, 0.851);
  --navy-shadow: rgba(2,12,27,.7);
  --dark-slate: rgb(73, 86, 112);
  --slate: rgb(136, 146, 176);
  --light-slate: rgb(168, 178, 209);
  --lightest-slate: rgb(204, 214, 246);
  --white: rgb(230, 241, 255);
  --green: rgb(170, 220, 42);
  --green-tint: rgba(170,220,42,.1);
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 26px;
  --fz-heading: 32px;
}
